#boton-submit{
    all: unset;
    margin-right: 10px;
    position: relative;
    z-index: 1;
}

#new-message{
    margin-right: 20px;
}

.input-box{
    display: flex;
    justify-content: space-between;
}