h1{
    color: #63b6ac;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.268);
    font-size: 3.5rem;
    margin: 5px;
}

#form_login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.incorrecto{
    color: rgb(255, 60, 0);
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#form_login>input{
    margin-bottom: 10px;
    font-size: 1.2rem;
}
#form_login>button{
    font-size: 1rem;
}

.botonRegistrar{
    background-color: transparent;
    color: white;
    border-radius: 5px;
    padding: 0;
    font-weight: bold;
    font-size: 1rem;
}

.botonRegistrar:hover{
    color: #63b6ac;
}

.botonLogin{
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(255, 255, 255, 0.422);
}