.messages{
    overflow-y: scroll;
}

.messages>p{
    color: white;
}

.message{
    padding: 10px 10px 5px 10px;
    margin: 5px;
    max-width: 55%;
    clear: both;
    word-break: break-word;
    display: flex;
}

.message p{
    margin: 0;
}

.enviado{
    text-align: left;
    background-color: #075e54;
    border-radius: 10px 2% 10px 10px;
    color: #fff;
    float: right;
    flex-direction: row-reverse;
}

.recibido{
    text-align: left;
    background-color: #f0f0f0;
    border-radius: 0 10px 10px 10px;
    float: left;
}

.usuario-message{
    font-size: 0.8rem;
}
    
.img-message{
    width: 300px;
}

a{
    color: rgb(129, 168, 255);
}

a:hover{
    color: rgb(101, 153, 248);
}

a:visited{
    color: rgb(111, 162, 255);
}

.time{
    font-size: 10px;
    align-self: flex-end;
    min-width: max-content;
}

.enviado .time{
    padding-right: 5px;
    color: rgb(196, 196, 196);
}

.recibido .time{
    padding-left: 5px;
    color: rgb(126, 126, 126);
}