.messages{
    overflow-y: scroll;
}

.messages>p{
    color: white;
}

.message{
    padding: 10px;
    margin: 5px;
    max-width: 55%;
    clear: both;
    word-break: break-word;
}

.message p{
    margin: 0;
}

.enviado{
    text-align: right;
    background-color: #075e54;
    border-radius: 10px 2% 10px 10px;
    color: #fff;
    float: right;
}

.recibido{
    text-align: left;
    background-color: #f0f0f0;
    border-radius: 0 10px 10px 10px;
    float: left;
    color: black;
}

.usuario-message{
    font-size: 0.8rem;
}
    
.img-message{
    width: 300px;
}

a{
    color: rgb(129, 168, 255);
}

a:hover{
    color: rgb(101, 153, 248);
}

a:visited{
    color: rgb(111, 162, 255);
}